.all 
{
    width: 60%;
    height: 500px;
    
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.all img 

{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .3s linear;
}


.container 
{
    width:380px;
    height: 450px;
    margin: 20px auto;
    
    overflow: hidden;
    
}
.menu 
{
    width: 1500px;
    height: 450px;
    display: flex;
    overflow: hidden;
    
   

}
.container .menu .menu_info 
{
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}
.menu_info img 
{
    width: 70%;
    height: 190px;
    transition: all .4s ease-in-out;
}
.menu_info img:hover
{
    transform: scale(1.2,1.2);
}
.menu_info h2 
{
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
    font-weight: 200;
}
.menu_info h3 
{
    font-family: arial;
    font-size: 40px;
    font-weight: 200;
 }
 .menu_info p 
 {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
 }


 /*******************************/

 .container_imagen 
 {
    width: 400px;
    height: 350px;
    margin: 40px auto;
    
 }
 .movimiento 
 {
    width: 360px;
    height: 230px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    scroll-snap-type: x mandatory;
   
    
       
 } 
 
 .movimiento img 
 {
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: start;
 }

 /********** reloj ****/

 .reloj 
 {
    width: 600px;
    height: 600px;
    margin: 40px auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-90deg);
 }
 .reloj img 
 {
    width: 100%;
    height: 100%;
    transform: rotateZ(90deg);
 }
 .rotacion 
 {
    width: 550px;
    height: 550px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    

 }
 .aguja 
 {
    width: 250px;
    height: 10px;
    background-color: red;
    margin-left: 210px;
    border-radius: 10px;
    
    
    
 }
 .hora
 {
    width: 180px;
    height: 30px;
    background-color: blue;
   position: absolute;
    border-radius: 10px;
    margin-left: 140px;
    
    
 }
 .minuto
 {
    width: 200px;
    height: 30px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    margin-left: 140px;
    
 }
 .hr ,
 .min 
 {
    width: 550px;
    height: 550px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
 }


 